@charset "UTF-8";
/*----------FUENTES----------*/
/*Fuente del logo.*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:wght@300&display=swap");
/*Fuente de los títulos.*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
/*Fuente de los textos.*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
.header .nav-a-item:hover {
  background-color: rgba(153, 145, 145, 0.192);
  transition: 500ms;
}

.prod-sec {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.header {
  background-image: url(../src/img/index/image.webp);
  background-size: cover;
  min-height: 100vh;
}
.header .navbar-icon2 {
  background-image: url(../src/img/index/menu.png);
}
.header .logo1 {
  width: 10%;
}
.header .logo1 .logo {
  width: 100%;
}
.header .logo1 .logo-text {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 992px) {
  .logo-container .logo1 {
    width: 20%;
  }
  .logo-container .logo1 .logo-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .logo-container {
    justify-content: space-around !important;
  }
  .logo-container .logo1 {
    width: 20%;
  }
  .logo-container .logo1 .logo-text {
    font-size: 2.2rem;
  }

  .comment-container .index-header-div-h2 {
    text-align: center;
  }
}
/*----------FUENTES----------*/
/*Fuente del logo.*/
/*Fuente de los títulos.*/
/*Fuente de los textos.*/
.footer {
  background-color: #c3cfd9;
  padding: 0.5rem;
}
.footer .footer-logo-container {
  width: 30%;
}
.footer .footer-logo-container .logo-footer {
  width: 30%;
}
.footer .footer-list {
  list-style: none;
}
.footer .icon-link .local-icon {
  width: 15%;
}

@media screen and (max-width: 992px) {
  .footer .footer-logo-container .logo-footer {
    width: 60%;
  }

  .contact-container .contact-title {
    font-size: 2.5rem;
  }
  .contact-container .contact-container-item {
    font-size: 1.3rem;
  }

  .social-media-container .footer-social-media-title {
    font-size: 2.5rem;
  }
  .social-media-container .social-media-icons {
    flex-direction: row !important;
    justify-content: center;
  }
  .social-media-container .social-media-icons .icon-link {
    justify-content: center;
  }
  .social-media-container .social-media-icons .icon-link .local-icon {
    width: 50%;
    margin-bottom: 20px;
  }
  .social-media-container .footer-social-media-title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .contact-container .footer-map {
    display: flex;
    justify-content: center;
  }
}
/*----------FUENTES----------*/
/*Fuente del logo.*/
/*Fuente de los títulos.*/
/*Fuente de los textos.*/
.index-sec2 {
  background-image: url(../src/img/index/sec-back.webp);
  background-size: cover;
  min-height: 50vh;
}
.index-sec2 .index-sec2-img {
  width: 30%;
}
.index-sec2 .index-sec2-item {
  border-radius: 30px;
}
.index-sec2 .index-sec2-item:hover {
  background-color: rgba(0, 0, 0, 0.158);
  transition: 700ms;
  transform: translate(-5px, -10px);
}

.index-sec3-img {
  width: 90%;
}

@media screen and (max-width: 576px) {
  .index-sec1 .index-sec1-h3 {
    text-align: center;
  }

  .index-sec3-title {
    padding: 10px;
    font-size: 28px !important;
    text-align: center;
  }

  .index-sec2 .index-sec2-item .index-sec2-img {
    height: 75%;
  }
  .index-sec2 .index-sec2-item .index-sec2-text {
    color: #000;
  }
}
.header .nav-a-item:hover {
  background-color: rgba(153, 145, 145, 0.192);
  transition: 500ms;
}

.prod-sec {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

/*----------FUENTES----------*/
/*Fuente del logo.*/
/*Fuente de los títulos.*/
/*Fuente de los textos.*/
.pages-header {
  background-image: url(../src/img/back-header.webp);
  background-size: cover;
  min-height: 35vh;
}
.pages-header .logo-pages-container .logo2 {
  width: 10%;
}
.pages-header .logo-pages-container .logo2 .logo-text {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
}
.pages-header .logo-pages-container .logo-pages {
  width: 100%;
}
.pages-header .logo-pages-container .header-link {
  border-radius: 10px;
}
.pages-header .logo-pages-container .header-link:hover {
  background-color: rgba(209, 198, 198, 0.425);
  transition: 500ms;
}

@media screen and (max-width: 992px) {
  .pages-header .logo-pages-container .logo2 {
    width: 20%;
  }
  .pages-header .logo-pages-container .logo-text {
    font-size: 2.2rem !important;
  }
  .pages-header .logo-pages-container .header-link {
    color: #fff;
  }
}
@media screen and (max-width: 576px) {
  .pages-header {
    min-height: 30vh;
  }
  .pages-header .logo-pages-container {
    justify-content: space-around;
  }
  .pages-header .page-title {
    color: #DEDEDE;
  }
}
@media screen and (max-width: 480px) {
  .pages-header {
    min-height: 28vh;
  }
}
.header .nav-a-item:hover {
  background-color: rgba(153, 145, 145, 0.192);
  transition: 500ms;
}

.prod-sec {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

/*----------FUENTES----------*/
/*Fuente del logo.*/
/*Fuente de los títulos.*/
/*Fuente de los textos.*/
.prod-sec a:visited {
  text-decoration: none;
  color: #000;
}
.prod-sec a:link {
  text-decoration: none;
  color: #000;
}
.prod-sec .card-img-standard {
  max-width: 284px;
  max-height: 284px;
}
.prod-sec .prod-card:hover {
  background-color: rgba(236, 82, 177, 0.397);
  transition: 500ms;
}
.prod-sec .prod-card-text-lights {
  margin-bottom: 1.5rem;
}

.btn-vaciar {
  border: none;
  background-color: #c024a683;
  border-radius: 3px;
}

.btn-added-cart {
  border: none;
}
.btn-added-cart i {
  color: #e75dd5;
}

.cart-img-added {
  width: 20%;
}

.slider-cart {
  width: 40rem;
}

.btn-cart {
  border: none;
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
}

.btn-cart:hover {
  background-color: rgba(209, 198, 198, 0.425);
  transition: 500ms;
}

.buy-btn-anim {
  font-size: 1.5rem;
  border: none;
  background-color: #4124c083;
  border-radius: 3px;
}

.back-color-standard {
  background-color: #e75dd58c;
}

.my-filter {
  max-width: 16rem;
}

.form {
  display: none;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.form .contact-form {
  background: radial-gradient(circle, #b8879c 0%, rgba(162, 191, 226, 0.8785889356) 100%);
  width: 40rem;
  margin: auto;
  border-radius: 10px;
}
.form .contact-form .input-style {
  max-width: 20rem;
}
.form .contact-form .form-btn {
  width: 5rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 2px 1px 3px #666666;
  border: solid #d91c71 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c790a9), to(#bf1c66));
  background: -moz-linear-gradient(top, #c790a9, #bf1c66);
}
.form .contact-form .form-btn:hover {
  background: #cf479b;
}
.form .contact-form .form-close {
  position: relative;
  right: -10rem;
  border: none;
  background-color: transparent;
}
.form .contact-form .form-close .form-btn-close {
  width: 3rem;
}

.visual {
  display: block;
}

.special-hidden {
  display: none;
}

/*----------FUENTES----------*/
/*Fuente del logo.*/
/*Fuente de los títulos.*/
/*Fuente de los textos.*/
.header .nav-a-item:hover {
  background-color: rgba(153, 145, 145, 0.192);
  transition: 500ms;
}

.prod-sec {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

p {
  font-family: "Poppins", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
