@import '../base/extend';
@import '../base/variables';



.prod-sec {
    @extend %box-standard;
    
    a:visited{
        text-decoration: none;
        color: #000;
    }
    
    a:link{
        text-decoration: none;
        color: #000;
    }

        .card-img-standard {
        max-width: 284px;
        max-height: 284px;
    }
    
    .prod-card:hover{
        background-color: rgba(236, 82, 177, 0.397);
         transition: 500ms;

    }
    .prod-card-text-lights{
        margin-bottom: 1.5rem;
    }
    
    
}
.btn-vaciar{
    border: none;
    background-color: #c024a683;
    border-radius: 3px;
}
.btn-quitar{
    border: none;
    .btn-color-standard{
        color: 	#FF0000;
    }
}



@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 576px) {
    
}

