@import '../base/extend';
@import '../base/variables';



.prod-sec {
    @extend %box-standard;
    
    a:visited{
        text-decoration: none;
        color: #000;
    }
    
    a:link{
        text-decoration: none;
        color: #000;
    }

        .prod-sec-img {
        @extend %img-standard;
    }
    
    .prod-card:hover{
        background-color: rgba(236, 82, 177, 0.397);
         transition: 500ms;

    }
    
    
}



@media screen and (max-width: 768px) {
    .prod-sec {
        width: 70% !important;
    }
}


@media screen and (max-width: 576px) {
    .prod-sec {

        .prod-sec-img {
            width: 70% !important;
        }

        .prod-sec-img-app {
            width: 85%;
        }
    }

}

