@import '../base/extend';
@import '../base/variables';

.prod-security {
    // @extend %box-standard;
    
    a:visited{
        text-decoration: none;
        color: #000;
    }
    
    a:link{
        text-decoration: none;
        color: #000;
    }
    
     .security-prod-img {
             width: 17rem;
             height: 20rem;
     }
     .card-text-standard-security{
         padding-bottom: 5.8rem;
     }
}


@media screen and (max-width: 576px) {
    .card-text-standard-security{
        padding-bottom: 0 !important;
    }

}


