%menu-style{
    background-color: rgba(153, 145, 145, 0.192);
    transition: 500ms;
}

%img-standard{
    width: 25%;
    height: auto;
    margin: 1rem;
}

%box-standard{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

